:root {
    --color1: #006ecb; /*переменные - главные цвета темы*/
    --color2: rgba(30, 172, 0, 0.6);
}

.about, .otzivi, .programm1 {
    background-color: rgba(65, 113, 255, 0.15); /*цвет фона*/
}

.color1 {
    color: var(--color1);
}
.color2 {
    color: var(--color2);
}

footer, section { /*заголовок секция и футер отступы снизу и сверху по 100*/
    padding: 100px 0;
}

header {
    padding: 150px 0 150px 0; /*заголовок отступы снизу и сверху по 200*/
}

header, footer { /*градиент заголовка*/
    background: var(--color1);
    background: -moz-linear-gradient(top, var(--color1) 1%, var(--color2) 100%);
    background: -webkit-linear-gradient(top, var(--color1) 1%, var(--color2) 100%);
    background: url("../img/shapka1.png"), linear-gradient(to bottom, var(--color1) 1%, var(--color2) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=var(--color1), endColorstr=var(--color2), GradientType=0);
    background-repeat: no-repeat;

}

.itd_play { /*значок запуска видео*/
    background-color: var(--color1);
    width: 60px; /*размер ширина и высота*/
    height: 60px;
    border-radius: 50%;
    шарик;
    display: flex; /*можно применить выравнивание*/
    justify-content: center; /*по центру горизонтали внтури контейнера*/
    align-items: center; /*по центру вертикали внутри контейнера*/
    cursor: pointer; /*наведение мышкой*/
    margin: 30px auto; /*по центру внешне с отступами по 30 сверху и низу*/
    transition: all 0.5s ease; /*плавный переход*/
}

.itd_play:hover { /*значок запуска видео при наведении*/
    background-color: var(--color2);
}

.itd-triangle { /*треугольник стрелка на видео*/
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 20px;
    border-color: transparent transparent transparent #ffffff;
    margin-left: 5px;
}

.btn-itd { /*кнопка заказать*/
    display: block; /* на всю ширину*/
    max-width: 300px;
    margin: 0px auto; /*по центру внешне с отступами по 0 сверху и низу*/
    padding: 8px 30px;
    color: var(--bs-white); /*цвет текста белый*/
    background-color: var(--color2); /* смена цвета при наведении*/

}

.btn-itd:hover { /*цвет кнопки при наведении*/
    color: var(--bs-white);
    background-color: var(--color1); /* смена цвета при наведении*/

}
/*стили видео в header (из ютуба после обработки https://embedresponsively.com/ )*/
.embed-container {
     position: relative;
     padding-bottom: 56.25%;
     height: 0;
     overflow: hidden;
     max-width: 100%;
 }

.embed-container iframe, .embed-container object, .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*блок О КУРСЕ*/


.about, .otzivi h2 { /*стиль заголовка*/
    color: var(--color2);
}

.about i { /*стиль иконок*/
    font-size: 25px;
    color: var(--color2);
}

.itd-circle { /*кружок вокруг пиктограммы*/
    margin: 0 auto 15px; /* отступ 0 сверху, по центру горизонтали, 15 снизу*/
    width: 80px;
    height: 60px;
    border: 3px solid var(--color2);
    border-radius: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line { /*линия подчеркивания*/
    width: 100px;
    height: 3px;
    background-color: var(--color1);
    margin: 15px auto 30px;
}


.forwhom h5 {
    border: 3px solid var(--color1);
    padding: 50px;
}

.forwhom h2 { /*стиль заголовка*/
    color: var(--color2);
}


/*блок ПРОГРАММА КУРСА*/


.programm1 h4 {
    font-weight: bold;
}

.programm1 h2 { /*стиль заголовка*/
    color: var(--color1);
}

.accordion {
    --bs-accordion-active-bg: var(--color2);
}

.accordion-button:not(.collapsed) {
    color: #fff;
    background-color: var(--color2);
    --bs-accordion-inner-border-radius: 0;
}

.accordion-button {
    --bs-accordion-inner-border-radius: 0;
}

.accordion-body {
    text-align: left;
    font-style: italic;
}

.accordion-item:first-of-type .accordion-button {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/*Процесс обучения*/
.examples h5 {
    border: 3px solid var(--color1);
    padding: 30px;
}


/*Об авторе*/
.otzivi p {
    font-size: 1.3rem;
}

/*Отзывы о курсе*/
.otzivi p {
    font-size: 1rem;
    text-align:justify;
    max-width: 350px;
}
.myBorder {
    border: 3px solid var(--color1);

}

.horVertCenter {
    justify-content: center;
    align-items: center;
    text-align: center;
}
.myFooter img {
    width: 50px;
}